@use 'colors.scss';

// Palettes
$blue-palette: (
  50: #e0f1f9,
  100: #b3dbf0,
  200: #80c4e7,
  300: #4dacdd,
  400: #269ad5,
  500: colors.$blue,
  600: #0080c9,
  700: #0075c2,
  800: #006bbc,
  900: #0058b0,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$gray-light-palette: (
  50: #eaeaea,
  100: #cacacb,
  200: #a6a7a9,
  300: #828487,
  400: #68696d,
  500: colors.$gray-light,
  600: #46484c,
  700: #3d3f42,
  800: #343639,
  900: #252629,
  contrast: (
    50:  #333,
    100: #333,
    200: #333,
    300: #333,
    400: #333,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$green-palette: (
  50: #f0f7e0,
  100: #daecb3,
  200: #c1df80,
  300: #a8d24d,
  400: #95c826,
  500: colors.$green,
  600: #7ab800,
  700: #6faf00,
  800: #65a700,
  900: #529900,
  contrast: (
    50:  colors.$cool-gray-11,
    100: colors.$cool-gray-11,
    200: colors.$cool-gray-11,
    300: colors.$cool-gray-11,
    400: colors.$cool-gray-11,
    500: colors.$cool-gray-11,
    600: colors.$cool-gray-11,
    700: colors.$cool-gray-11,
    800: colors.$cool-gray-11,
    900: colors.$cool-gray-11,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$yellow-palette: (
  50: #fff6e3,
  100: #ffe9b8,
  200: #ffdb89,
  300: #ffcc59,
  400: #ffc136,
  500: colors.$yellow,
  600: #ffaf10,
  700: #ffa60d,
  800: #ff9e0a,
  900: #ff8e05,
  contrast: (
    50:  colors.$cool-gray-11,
    100: colors.$cool-gray-11,
    200: colors.$cool-gray-11,
    300: colors.$cool-gray-11,
    400: colors.$cool-gray-11,
    500: colors.$cool-gray-11,
    600: colors.$cool-gray-11,
    700: colors.$cool-gray-11,
    800: colors.$cool-gray-11,
    900: colors.$cool-gray-11,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$cyan-palette: (
  50: #e0f3f4,
  100: #b3e1e4,
  200: #80cdd3,
  300: #4db8c1,
  400: #26a9b3,
  500: colors.$cyan,
  600: #00929e,
  700: #008895,
  800: #007e8b,
  900: #006c7b,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
